  services:

    pg-service:
      restart: always
      image: postgres:latest
      container_name: chat_noir_db
      ports:
        - '5433:5432'
      env_file:
        - database.env
      volumes:
        - ./sql/chat_noir.sql:/docker-entrypoint-initdb.d/chat_noir.sql
        - chat_noir_vol:/var/lib/postgresql
      healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U postgres -d chat_noir" ]
        interval: 10s
        timeout: 5s
        retries: 5

  volumes:
    chat_noir_vol:
